.mural {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}



.d-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sem-pensamentos {
    text-align: center;
    padding: 2rem 0 5rem;
}